* {
  font-family: 'bebas nueue', 'arial', sans-serif;
}

.welcome-text:not(h1):not(h2):not(h3){
font-size: 1.2rem;
}

.min-height-33{
    min-height: 33vh;
}

.max-height-20{
    height: 33vh
}

.pkmnselect{
    max-height: 100px;
    overflow: scroll;
}

.mat-btn{
    min-height: 15vh;
    height: 100%;
    width: 100%;
}


.text-area {
    border-radius: 25px;
    background: #73AD21;
    border: 10px solid #000000;
    padding: 20px;
  }

  .action-area {
    border-radius: 25px;
    background: #73AD21;
    border: 10px solid #000000;
    padding: 10px;
  }

  .bg{
    height: 100vh;
  background-color:black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  .bg-2{
      height: 66vh;
    background-image:url('../../assets/images/Safari_RTDX.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-main{
  background-image:url('../../assets/images/Kanto_Safari_Zone.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.list-group-item{
    background: #73AD21 !important;
}

  .player-img {
    position: absolute;
    bottom: 0;
}

.player-container{
    width: 90%
}

.ball-container{
    width: 10%
}
  

.btn-lg {
    padding: 16% 0; 
    /* define values in pixels / Percentage or em. whatever suits 
       your requirements */
}

.back-link{
    cursor: pointer;
    color: #000000;
}


